    body {
    font-family: 'Dosis', sans-serif;
    }

    @media print {
    .container {
    width: auto;
    }
    }

   .starter-template {
   padding: 0.0rem 0.0rem;
   text-align: center;
   }

   .jumbotron {
      text-align:center;
      font-family: inherit;
      }
