/* Body */

body {
  font-family: 'Dosis', sans-serif;
  background-color:#fff;
}

.container-fluid {
      padding-top: 0em;
      padding-bottom: 0em;
      padding-right: 0.9375em; 
    padding-left: 0.9375em; 
     margin-right: auto; 
     margin-left: auto; 
}

/* Navbar */

.btn:active,
.btn:focus,
.btn.active {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.bg-light {
    background-color: #fff !important;
}

/* Responsive Media */

@media screen and (max-width: 35.9375em) {
 .col-sm-6 {
     position: center;
     margin-left:3.125em;
     margin-right:3.125em;
}
    
.col-sm-6 {
      text-align: center;
    }
}

@media print {
 .container {
  width: auto;
}
}

/* Footer */
.bg-4 {    
    line-height: 1.5;
    background-color: #008CBA;
    color: #fff;
}

/* Animations */

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.slideInUp {
  animation-duration: 1.25s;
}

 .zoomInUp {
  animation-duration: 1.2s;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #008cba; 
}
