/* Saurabh Jojare Developed On GitHub*/

/* Body */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color:#f6f7f9;
  font-size: 1rem;
}

.bootstrap{
  margin-top:0.6875em;
  width:98%;
  box-shadow:0 1px 6px rgba(32, 33, 36, 0.28);
  background-color: #ffffff;
  color: #000;
}

.content.saurabh{
background-attachment: scroll;
background-image: url(Image.jpeg);
width: 100%;
background-size: cover;
min-height: 100vh;
position: relative;
text-align: center;
z-index: 0;
background-position-x: 50%;
background-position-y: 0;
background-position: top center;
background-origin:content-box;
display: none;
}

.main{
background: rgba(23, 24, 32, 0.7);
width: 100%;
text-align: left;
padding: 0.75em;
color: rgba(255, 255, 255, 0.85);
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
opacity: 0.7;
}

.font{
font-family: 'Dosis', sans-serif;
}

.footer{
  padding-bottom:  0.625em;
  padding-top: 0.625em;
}

.word.wrap{
  word-wrap:break-word;
}

.margin{
  padding:0.625em;
}

footer {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color:#f7f7f7; ;
  color:  #868e96;
  font-size: 85%;
}

footer p {
  margin-bottom: .25rem;
}

.footer-links {
    padding-bottom: 0.80rem!important;
}

.footer-sites
{
  padding-left: 5px;
      font-weight: 550;
    color: #495057;
}

.footer-mobile
{
display: none;
}

/* Animations */

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.padding{
  padding: 5.8px;"
}

/* Box */

.Box{ 
box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28); 
padding:25px;
}

/* Text */

.resumecolor{
  color:#008cba;
}

/* Scrollbar Side */

/* width */

::-webkit-scrollbar {
    width:0.5em;
}

/* Track */

::-webkit-scrollbar-track {
    background: #fff; 
}
 
/* Handle */

::-webkit-scrollbar-thumb {
    background: #008cba; 
}

/* Footer */

.bg-4 {    
    line-height: 1;
    background-color: #008CBA;
    color: #fff;
    padding-top:18px;
    padding-bottom:18px;
}

/* Responsive Media */

@media screen and (max-width: 35.9375em) {
 .col-sm-6 {
     position: center;
     margin-left:3.125em;
     margin-right:3.125em;
}
    
.col-sm-6 {
      text-align: center;
    }

.rounded-circle {
    width: 2.8125em;
}

.content.saurabh {
  display: block;
}

.first {
  display: none;
}
.footer-large
{
display: none;
}

.footer-mobile
{
display: block;
}
}

@media print {
 .container {
  width: auto;
}
}
