/* Body */

body {
  font-family: 'Dosis', sans-serif;
  background-color:#fff;
}

.container-fluid {
      padding-top: 0em;
      padding-bottom: 0em;
      padding-right: 0.9375em; 
    padding-left: 0.9375em; 
     margin-right: auto; 
     margin-left: auto; 
}

.margin{
  padding:8px;
}

#XML{
  margin-top:11px;width:95%; box-shadow:0 1px 6px rgba(32, 33, 36, 0.28); border-radius: 8px;
}

#none{
  display: none;
}

.content.nuevo{
background-attachment: fixed;
background-image: url(Image.jpeg);
width: 100%;
background-size: cover;
min-height: 100vh;
position: relative;
text-align: center;
z-index: 0;
    background-position: center top;
    background-attachment: fixed;
    display: none;
}

.main{
  background: rgba(23, 24, 32, 0.7);
width: 100%;
text-align: left;
padding: 12px;
color: rgba(255, 255, 255, 0.85);

box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
   opacity: 0.7;
}

#br{
word-wrap:break-word;
}

/* Box */

#Box{ 
box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28); 
}

/* Text */

#resume{color:#008cba;}

/* Scrollbar Side */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #008cba; 
}

/* Navbar */

.btn:active,
.btn:focus,
.btn.active {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.btn-outline-primary {
    color: #008cba;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
}

.btn-outline-primary:hover {
    color: #008cba;
    background-color: #fff;
    border-color: #008cba;
}

.bg-light {
    background-color: #fff !important;
}

#modal{color:#000;}

/* Responsive Media */

@media screen and (max-width: 35.9375em) {
 .col-sm-6 {
     position: center;
     margin-left:3.125em;
     margin-right:3.125em;
}
    
.col-sm-6 {
      text-align: center;
    }

.rounded-circle {
    width: 2.8125em;
}
}

@media print {
 .container {
  width: auto;
}
}

@media (max-width: 575px) {

.content.nuevo {
  display: block;
}

#Yes {
  display: none;
}

}

/* Footer */
.bg-4 {    
    line-height: 1.5;
    background-color: #008CBA;
    color: #fff;
}

/* Animations */

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.slideInUp {
  animation-duration: 1.25s;
}

 .zoomInUp {
  animation-duration: 1.2s;
}
