<!doctype html>
<html lang="en">
 <head>

    <!-- Meta Tags -->
    <meta name="google-site-verification" content="QhSYCZrWJ7_skoF4rySOmUS9GwrhUsCCvdvXshJO5iY"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="I'm web developer with front end and back end development skills with a penchant for web, interaction design, and typography.">
    <meta name="author" content="Saurabh Jojare">
    <meta content='rgba(255, 255, 255, 0.5)' name='msapplication-navbutton-color'/>
    <meta content='rgba(255, 255, 255, 0.5)' name='theme-color'/>
    <!-- Meta Tags End -->

    <title>Saurabh Jojare's</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap core CSS End -->

    <!-- Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="apple-touch-icon" href="./static/docs/Favicon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="./static/docs/Favicon.png"/>
    <link rel="icon" sizes="192x192" href="./static/docs/Favicon.png">
    <link rel="alternate" href="https://saurabhjojare.github.io/" hreflang="en-us"/>
    <!-- Links End -->

    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet">
    <!-- Custom styles for this template End -->


<style>
  .toptxt {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  margin-bottom: 0px;
}
.not404
{
 font-size: 11rem;
 margin-bottom: 20px;
}
.dot
{
  font-size: 10px;
}

.textpara
{
font-size: 20px;
letter-spapxng:2.5px;
font-weight: 1;
}

.bbt
{
  margin-top: 20px;
}

.arrowd
{
  margin:14px 0px 14px 0px;
}
</style>

 </head>
 <body>
    
 <!-- Header Start -->    
 <header>
  <a href="../../index.html">saurabhjojare.github.io</a>
   <span class="text-muted stl"> Error</span>
    <hr class="hr">
    <hr class="hrmob">
 </header> 
 <!-- Header End --> 

 <!-- Begin page content -->
 <div class="container">
  <div class="toptxt">
  <div>
    <h1 class="text-center not404">404</h1>
    <p class="h3 text-center textpara">The page you looking for doesn't exist.</p>
    <center><span class="fa fa-long-arrow-down arrowd"></span></center>
    <p class="h3 text-center textpara">Let's get you back</p>
    <center><span class="fa fa-long-arrow-down arrowd"></span></center>
    <center>
    <button class="btn btn-primary btn-lg bbt" onclick="goBack()">Go Back</button>
    </center>
  </div>
</div>
</div>
  <!-- End page content -->
    
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
    function goBack() {
    window.history.back();
    }
    </script>

    <!-- Scripts End -->

 </body>
</html>